<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ if .Title }}{{ .Title }}{{ else }}Default Main Title{{ end }}</title>
        
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        {{ partial "partials/header" .}}

        {{ template "content" . }}

        {{ partial "partials/footer" .}}
        <script src="/js/app.js"></script>
    </body>
</html>